<template>
    <style>
        @import url('/components/mk-list/mk-list.css');
    </style>
    <link rel="import" href="./components/mk-section/mk-section.html">
    <h1>List Component</h1>
    <p>this shows another subtext</p>

    <mk-section iterator="1" headline="First Pick"></mk-section>
    <mk-section iterator="2" headline="Hurz"></mk-section>
    <mk-section iterator="3" headline="Foo"></mk-section>
    <mk-section iterator="4" headline="Suelz"></mk-section>
    <mk-section iterator="5" headline="last Pick"></mk-section>
</template>
<script>
    (function() {
        let doc = document.currentScript.ownerDocument;
        let parent = document;

        let template = doc.querySelector('template');
        let Element = Object.create(HTMLElement.prototype);

        let shadowRoot;

        Element.createdCallback = function() {
            shadowRoot = this.createShadowRoot();
            let clone = parent.importNode(template.content, true);

            shadowRoot.appendChild(clone);
        }

        parent.registerElement('mk-list', {prototype: Element})
    })();
</script>